body{
    background-color: purple;
}

.background{
    width:100%;
    min-height: 100vh;
    padding: 10px;
}

.heading{
    color: black;
    text-align: center;
    background: white;
    max-width: 540px;
    margin:100px auto 10px;
    padding: 40px;
    border-radius: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeeed;;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background:transparent;
    padding: 10px;
    font-weight: 15px;
}

button{
    border:none;
    outline:none;
    padding: 15px 50px;
    background: #ff5945;
    color:white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 50px;   
}

#list-container{
    text-align: start;
}

ul li{
    list-style: none;
    font-size: 20px;
    padding: 15px 10px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content:'';
    position:absolute;
    height:30px;
    width: 30px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left:8px;
}

ul li.checked{
    color:#555;
    text-decoration: line-through;

}

ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;
}